// Centered form
// -------------------------

.centered-form {
    width: 550px;
    margin: 100px auto 40px;
    .border-radius(@baseBorderRadius);
    border: 1px solid @grayLighter;

    .centered-form-header {
        display:none;
    }

    .centered-form-content {
        padding: 20px;
    }
}

