// Centered form
// -------------------------

.centered-form {
    width: 550px;
    margin: 100px auto 40px;
    .border-radius(@baseBorderRadius);
    border: 1px solid @navbarBorder;

    .centered-form-navbar {
        border-bottom: 1px solid @navbarBorder;
        height: @navbarHeight;
    }

    .centered-form-content {
        padding: 30px 20px 10px;
    }
}
