@loginFormHorizontalComponentOffset: 140px;

.login-form {
    .form-horizontal .controls {
        width: @loginFormHorizontalComponentOffset - 20;
    }

    .form-horizontal .control-label {
        width: @loginFormHorizontalComponentOffset;
    }
}