<div class="row block">
    <div class="col-2-3 {% if not caption_table %}go-big{% endif %}">
        <p>{{ item(['image/*'], image) }}</p>
    </div>

    {% if caption_table %}
        <div class="col-1-3">
            {{ item(['text/csv'], caption_table) }}
        </div>
    {% endif %}

    {% if caption_text %}
        <div class="col-1-3 go-under">
            <div class="image-caption-text">
                {{ item(['text/html', 'text/x-markdown', 'text/plain'], caption_text) }}
            </div>
        </div>
    {% endif %}

</div>