<div class="row">
    <div class="span9">
        <div class="image-placeholder">Placeholder</div>
    </div>
    <div id="rhcol" class="span3" id="title" data-type="textarea" data-pk="12" data-url="." data-original-title="Enter column text" data-placement="left">This is the {{ person }} column and the quick brown fox jumps over the lazy dog. This is the span8 column and the quick brown fox jumps over the lazy dog. This is the span8 column and the quick brown fox jumps over the lazy dog.</div>
</div>