<div class="row">
    <div class="span9">
        <p>Yeah, where is it. I was led to believe it was coming out in February '13. But so far no announcements about when, why or what is delaying said album is coming. But﻿ this is Laura's style. She is definitely NOT about record sales or recognition chart-wise. It is one of her best qualities.
</p>
        <div id="image" class="image-placeholder">{{ image }}</div>
        <p>It is part of Laura Marling's professional persona that she is marching to her own tempo. It sounded months ago that the album was finished and it would be out this month (Feb '13). But no show so far. LM has been working hard and﻿ doing many tours and even making them "working holidays." My sense is she flies under the radar and doesn't need to meet my expectations but I do love her music, past, present and future.
</p>
        <div id="under_image_text" class="text-placeholder" data-display-name="blurb">{{ under_image_text }}</div>
    </div>
    <div class="span3">
        <div id="page_stats" class="stats-placeholder">{{ page_stats }}</div>
    </div>
</div>

