<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ astro_object_attributes.name|e }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ astro_object_attributes.type|e }}</td>
        </tr>
        <tr>
            <th>Constellation</th>
            <td>{{ astro_object_attributes.constellation|e }}</td>
        </tr>
        <tr>
            <th>Radius</th>
            <td>{{ astro_object_attributes.radius_ly|e }}</td>
        </tr>
    </tbody>
</table>
