body {
    font-family:Georgia, 'Times New Roman', Times, serif;    
    margin-top:0;
    background:#fff;
}
h1 {
    font-size:50px;
    font-weight:normal;
    margin-bottom:15px;
    margin:15px 0;
}
p {
    font-size:26px;
    color:black;
    margin:15px 0;
    line-height:1.3;
}
a {
    color:#EC7100;
}
a:hover{
	color:#bb5b04;
}


#wrapper {
    width:600px;
    margin:40px auto 20px;
    -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    border:1px solid #ddd;
    border-top:3px solid #82E60B;
    
    padding:0 50px 0;
    background:#fff;
}
.header {
    margin:0;
    padding:15px 0;
    font-family:Helvetica, Arial, sans-serif;
    color:#666;
    font-size:13px;
    font-weight:lighter;
    text-transform:uppercase;
}
.footer {
    margin:0;
    font-family:Helvetica, Arial, sans-serif;
    color:#666;
    font-size:13px;
    font-weight:lighter;
    padding-bottom:25px;
}

.breadcrumbs {
    font-size:18px;
    color:#ccc;
    margin:40px 0 15px;
}
.hr {
    background: url(/static/www/img/dotted.png) repeat-x bottom left;
    height:1px;
    margin:0;
    clear:both;
}
.hr2 {
    background: url(/static/www/img/dotted.png) repeat-x bottom left;
    height:1px;
    margin:60px 0px 15px 0px;
}

ul.term-list {
    list-style:none;
    padding-left:0;
    margin-top:40px;
}