<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Type</th>
            <td>{{ topo.type|e }}</td>
        </tr>
        <tr>
            <th>Grade</th>
            <td>{{ topo.grade|e }}</td>
        </tr>
        <tr>
            <th>FA</th>
            <td>{{ topo.fa|e }}</td>
        </tr>
        {% if topo.location %}
            <tr>
                <th>Location</th>
                <td>{{ topo.location.area|e }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
