{% extends "www/base.html" %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-pjax class="navbar-brand" href="/">
                <i class="fa fa-star-o" style="margin-right:5px;"></i>Stacks
            </a>
            <a data-pjax class="navbar-brand site" href="/">
                / Astro
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-main-collapse">

            <ul class="nav navbar-nav">
                {% if user.is_authenticated() %}
                    <li {% if request.path.startswith(url('user_home', kwargs={'username': user.username})) %}class="active"{% endif %}><a data-pjax href="{{ url('user_home', kwargs={'username': user.username}) }}">You</a></li>
                {% endif %}
                {% if user.is_authenticated() %}
                    <li class="divider-vertical"></li>
                    <li><a id="create-button" href="#create-modal" role="button" data-toggle="modal">+ New</a></li>
                    <li><a href="#">Upload</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated() %}
                    <li {% if request.path.startswith(url('user_home', kwargs={'username': user.username})) %}class="active"{% endif %}><a data-pjax class="profile-image-link" href="{{ url('user_home', kwargs={'username': user.username}) }}"><img class="profile-image" src="{{ user.profile.profile_image_url_24px }}" /></a></li>
                    <li><a href="{{ url('django.contrib.auth.views.logout') }}">Log out</a></li>
                {% else %}
                    <li>
                        <a href="{{ url('socialauth_begin', args=('twitter',)) }}">
                             <i class="fa fa-twitter"></i> Log in
                        </a>
                    </li>
                    <li><a href="{{ url('join') }}">Join</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
{% endblock %}