<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
        <meta name="description" content="{{ request.site.name }} – {{ request.site.properties_json.description }}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7488232/727982/css/fonts.css" />

        <link rel="stylesheet" type="text/css" href="/static/www/css/everything.css"/>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/static/lib/bootstrap-3.0.0-less/js/html5shiv.js"></script>
            <script src="/static/lib/bootstrap-3.0.0-less/js/respond.min.js"></script>
        <![endif]-->

        {% if debug %}
            <script src="/static/lib/jquery-1.10.1.js"></script>
        {% else %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        {% endif %}

        {% block js %}{% endblock %}

        <link rel="shortcut icon" href="/static/www/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/www/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/www/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/www/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/www/ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body class="stacks {% block body_class %}{% endblock %}">

        {% block navbar %}
            <nav class="navbar navbar-default navbar-static-top" role="navigation">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a data-pjax class="navbar-brand" href="/">
                        <i class="fa fa-star-o" style="margin-right:5px;"></i>Stacks
                    </a>
                    <a data-pjax class="navbar-brand site" href="/">
                        / Astro
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-main-collapse">

                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated() %}
                            <li {% if request.path.startswith(url('user_home', kwargs={'username': user.username})) %}class="active"{% endif %}><a data-pjax href="{{ url('user_home', kwargs={'username': user.username}) }}">You</a></li>
                        {% endif %}
                        {% if user.is_authenticated() %}
                            <li class="divider-vertical"></li>
                            <li><a id="create-button" href="#create-modal" role="button" data-toggle="modal">+ New</a></li>
                            <li><a href="#">Upload</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated() %}
                            <li {% if request.path.startswith(url('user_home', kwargs={'username': user.username})) %}class="active"{% endif %}><a data-pjax class="profile-image-link" href="{{ url('user_home', kwargs={'username': user.username}) }}"><img class="profile-image" src="{{ user.profile.profile_image_url_24px }}" /></a></li>
                            <li><a href="{{ url('django.contrib.auth.views.logout') }}">Log out</a></li>
                        {% else %}
                            <li>
                                <a href="{{ url('socialauth_begin', args=('twitter',)) }}">
                                     <i class="fa fa-twitter"></i> Log in
                                </a>
                            </li>
                            <li><a href="{{ url('join') }}">Join</a></li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
        {% endblock %}

        <div class="container" id="pjax-container">
            {% block content %}Empty{% endblock %}
        </div>

        {% if debug %}
            <script type="text/javascript" src="/static/lib/bootstrap-3.0.0-less/js/bootstrap.js"></script>
        {% else %}
            <script type="text/javascript" src="/static/lib/bootstrap-3.0.0-less/js/bootstrap.min.js"></script>
        {% endif %}

        <script type="text/javascript" src="/static/lib/jquery.slugify.js"></script>

        {% if debug %}
            <script type="text/javascript" src="/static/lib/d3.v3.js"></script>
        {% else %}
            <script type="text/javascript" src="/static/lib/d3.v3.min.js"></script>
        {% endif %}

        {% if debug %}
            <script type="text/javascript" src="/static/lib/masonry.pkgd.js"></script>
        {% else %}
            <script type="text/javascript" src="/static/lib/masonry.pkgd.min.js"></script>
        {% endif %}

        <script type="text/javascript" src="/static/lib/jquery.pjax-1.7.3.js"></script>
        <script type="text/javascript" src="/static/www/js/common.js"></script>

        {% block page_scripts %}{% endblock %}

        <script>
            $(function() {
                $(document).pjax('a[data-pjax]', '#pjax-container');
            });
        </script>
    </body>
</html>