{% extends "www/base_modal.html" %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Something wasn't right. Please try again.
        </div>
    {% endif %}

    <form method="post" action=".">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <fieldset>
            <p>
                {{ form.email.label_tag() }}
                {{ form.email }}
            </p>
            <p>
                {{ form.username.label_tag() }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password1.label_tag() }}
                {{ form.password1 }}
            </p>
            <p>
                <label for="id_password2">(again)</label>
                {{ form.password2 }}
            </p>
        </fieldset>
        <p class="form-actions">
            <button type="submit">Create my account</button>
        </p>
    </form>

{% endblock %}