{% extends "www/base_centered_form.html" %}

{% block subtitle %}Create an account{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Something wasn't right. Please try again.
        </div>
    {% endif %}

    <form class="join-form form-horizontal" method="post" action=".">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <div class="control-group">
            <label class="control-label" for="email">{{ form.email.label }}</label>
            <div class="controls">
                {{ form.email }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password1">{{ form.password1.label }}</label>
            <div class="controls">
                {{ form.password1 }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label muted" for="password2">(again)</label>
            <div class="controls">
                {{ form.password2 }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Create account</button>
            </div>
        </div>
    </form>

{% endblock %}