{% extends "www/base_centered_form.html" %}

{% block subtitle %}Log in{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Invalid username or password. Try again.
        </div>
    {% endif %}

    <form class="form-horizontal" method="post" action="{{ url('django.contrib.auth.views.login') }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="next" value="{{ url('stacks_home') }}" />
        <div class="control-group">
            <label class="control-label" for="username">{{ form.username.label }}</label>
            <div class="controls">
                {{ form.username }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">{{ form.password.label }}</label>
            <div class="controls">
                {{ form.password }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </div>
    </form>

{% endblock %}