{% macro follow_button(request, user, followed_user) -%}
    {% if not user.is_anonymous() %}
        {% set is_following = user.profile.is_following(followed_user) %}
        <button id="follow_button" class="btn btn-mini btn-success" type="button"
                style="{% if is_following %}display:none{% endif %}" href="#">
            <i class="icon-plus-sign"></i> Follow
        </button>
        <button id="unfollow_button" class="btn btn-mini btn-success" type="button"
                style="{% if not is_following %}display:none{% endif %}" href="#">
            <i class="icon-minus-sign"></i> Unfollow
        </button>
        <script type="text/javascript">
            $(function() {
                $("#follow_button").click(function(e) {
                    $.post("{{ url('follow') }}", {
                        'followed_user': {{ followed_user.id }},
                        'csrfmiddlewaretoken': '{{ csrf(request) }}'
                    });
                    $("#follow_button").hide();
                    $("#unfollow_button").show();
                    return false;
                });

                $("#unfollow_button").click(function(e) {
                    $.post("{{ url('unfollow') }}", {
                        'followed_user': {{ followed_user.id }},
                        'csrfmiddlewaretoken': '{{ csrf(request) }}'
                    });
                    $("#unfollow_button").hide();
                    $("#follow_button").show();
                    return false;
                });
            });
        </script>
    {% else %}
        <button id="follow_button" class="btn btn-mini btn-success" type="button" href="#">
            <i class="icon-plus-sign"></i> Follow
        </button>
    {% endif %}
{%- endmacro %}
