{% macro follow_button(request, user, followed_user) -%}
    {% if not user.is_anonymous() %}
        {% set is_following = user.profile.is_following(followed_user) %}
        <button id="follow_button" class="btn btn-mini btn-success" type="button"
                style="{% if is_following %}display:none{% endif %}" href="#">
            <i class="icon-plus-sign"></i> Follow
        </button>
        <button id="unfollow_button" class="btn btn-mini btn-success" type="button"
                style="{% if not is_following %}display:none{% endif %}" href="#">
            <i class="icon-minus-sign"></i> Unfollow
        </button>
        <script type="text/javascript">
            $(function() {
                $("#follow_button").click(function(e) {
                    $.post("{{ url('follow') }}", {
                        'followed_user': {{ followed_user.id }},
                        'csrfmiddlewaretoken': '{{ csrf(request) }}'
                    });
                    $("#follow_button").hide();
                    $("#unfollow_button").show();
                    return false;
                });

                $("#unfollow_button").click(function(e) {
                    $.post("{{ url('unfollow') }}", {
                        'followed_user': {{ followed_user.id }},
                        'csrfmiddlewaretoken': '{{ csrf(request) }}'
                    });
                    $("#unfollow_button").hide();
                    $("#follow_button").show();
                    return false;
                });
            });
        </script>
    {% else %}
        <button id="follow_button" class="btn btn-mini btn-success" type="button" href="#">
            <i class="icon-plus-sign"></i> Follow
        </button>
    {% endif %}
{%- endmacro %}

{% macro like_button(request, user, stack) -%}

    {% if not user.is_anonymous() %}
        <a id="like_link" class="like-link" href="#">
            <i class="icon-heart like-icon"></i>
            <span id="like_count">{{ stack.like_count }}</span> <span id="like_text">like{{ stack.like_count|pluralize }}</span>
        </a>
    {% else %}
        <i class="icon-heart like-icon"></i>
        {{ stack.like_count }} like{{ stack.like_count|pluralize }}
    {% endif %}

    <script type="text/javascript">
        $(function() {
            $("#like_link").click(function(e) {
                $.post("{{ url('like') }}", {
                    'stack_id': {{ stack.id }},
                    'csrfmiddlewaretoken': '{{ csrf(request) }}'
                });
                $("#like_count").text("{{ stack.like_count + 1 }}");
                {% if stack.like_count == 0 %}
                    // special case for 0 to 1
                    $("#like_text").text("like")
                {% elif stack.like_count == 1 %}
                    // special case for 1 to 0
                    $("#like_text").text("likes")
                {% endif %}
                return false;
            });
        });
    </script>
{%- endmacro %}
