{% extends "www/base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block css %}
    <link href="/static/lib/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/static/lib/jquery.fineuploader/fineuploader.css" rel="stylesheet">
{% endblock %}

{% block body_class %}page{% endblock %}

{% block content %}
    <h1 id="title" class="text-placeholder">{{ page.title}}</h1>
    {{ content }}
{% endblock %}

{% block extra_scripts_after_bootstrap %}
    <script src="/static/lib/bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="/static/lib/jquery.fineuploader/jquery.fineuploader-3.0.js"></script>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">

        var dragTimeout = null;

        $(document).ready(function () {

            $('.text-placeholder').each(function() {
                var placement = $(this).attr('id');
                var displayName = $(this).attr('data-display-name') || placement;
                $(this).editable({
                    inputclass: 'input-xlarge2',
                    placement: 'bottom',
                    pk: {{ page.id }},
                    url: '{{ url_for("page.edit") }}',
                    type: 'text',
                    title: 'Enter ' + displayName,
                    params: {csrfmiddlewaretoken': '{{ csrf_token }}'}
                });
            });

{#            $('#image-1').fineUploader({#}
{#                request: {#}
{#                    endpoint: '/upload/'#}
{#                },#}
{#                text: {#}
{#                    uploadButton: '<i class="icon-upload"></i> Upload'#}
{#                },#}
{#                dragAndDrop: {#}
{#                    extraDropzones: [$('#image-1')],#}
{#                    hideDropzones: false,#}
{#                    disableDefaultDropzone: true#}
{#                },#}
{#                debug: true#}
{#            }).on('complete', function(event, id, filename, responseJSON) {#}
{#                console.log(responseJSON);#}
{#                $('#image-1').empty().addClass('has-image').append('<img src="' + responseJSON.path + '" />');#}
{#            });#}

{#            $('#image-1').append('<span class="drag-message">Drag images here</span>');#}

{#            $(document.body).on('dragenter', function(e) {#}
{#                $('#image-1').addClass('active');#}
{#            });#}
{##}
{#            $('#image-1').on('dragenter', function(e) {#}
{#                $('#image-1').addClass('active');#}
{#            });#}
{##}
{#            $(document.body).on('dragleave dragexit', function(e) {#}
{#                if (e.originalEvent.pageX <= $(window).scrollLeft()#}
{#                    || e.originalEvent.pageY <= $(window).scrollTop()#}
{#                    || e.originalEvent.pageX >= $(window).scrollLeft() + $(window).width()#}
{#                    || e.originalEvent.pageY >= $(window).scrollTop() + $(window).height()) {#}
{#                    $('#image-1').removeClass('active');#}
{#                }#}
{#            });#}
{##}
{#            $(document.body).on('drop', function(e) {#}
{#                $('#image-1').removeClass('active');#}
{#            });#}
{##}
{#            $(document.body).on('dragover', function(e) {#}
{#                clearTimeout(dragTimeout);#}
{#                dragTimeout = setTimeout(function() { $('#image-1').removeClass('active'); }, 100)#}
{#            });#}
{##}
{#            $('#image-1').on('dragover', function(e) {#}
{#                clearTimeout(dragTimeout);#}
{#                dragTimeout = setTimeout(function() { $('#image-1').removeClass('active'); }, 100)#}
{#            });#}

        });
    </script>
{% endblock %}
