{% extends "www/base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block css %}
    <link href="/static/lib/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}

{% block body_class %}page{% endblock %}

{% block content %}
    <h1 id="title">{{ page.title}}</h1>
    {{ content }}
{#    <div class="row" style="margin-top:20px;">#}
{#        <div class="span9">#}
{#            {% include "www/inc/comments.html" %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block extra_scripts_after_bootstrap %}
    <script src="/static/lib/bootstrap-editable/js/bootstrap-editable.js"></script>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $('#title').editable({
            inputclass: 'input-xlarge',
            placement: 'bottom',
            pk: {{ page.id }},
            url: '{{ url_for("page.edit") }}',
            type: 'text',
            originaltitle: 'Enter title',
            params: {'csrfmiddlewaretoken': '{{ csrf_token }}'}
        });
        $('#rhcol').editable({inputclass:'rhcol', send:'never'});
    </script>
{% endblock %}
