{% extends "www/base_modal.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Your username and password didn't match. Please try again.
        </div>
    {% endif %}

    <form method="post" action="{{ url('django.contrib.auth.views.login') }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="next" value="{{ url('stacks_home') }}" />

        <fieldset>
            {{ form.username.label_tag() }}
            {{ form.username }}
            {{ form.password.label_tag() }}
            {{ form.password }}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>

{% endblock %}