{% extends parent %}

{% block title %}{{ request.site.name }} - {{ request.site.properties_json.description }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>Welcome to {{ request.site.name }}</h1>
            {% if latest_stacks %}
                <p>Latest stacks:</p>
                <ul>
                    {% for stack in latest_stacks %}
                        <li><a href="{{ site_url('stack', request.site, kwargs={'slug': stack.slug}) }}">{{ stack.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}