{% extends parent %}

{% block title %}{{ request.site.name }} - {{ request.site.properties_json.description }}{% endblock %}

{% block content %}
    <div class="header-row">
        <h1>{{ request.site.name }}</h1>
        <p class="intro prose">{{ request.site.properties_json.description }}</p>
    </div>

    <div class="row" id="stack-swatch-list">
        {% for stack in stack_list %}
            <div class="stack-swatch">
                {{ stack.content }}
                <p><a href="{{ site_url('stack', request.site, kwargs={'slug': stack.stack.slug}) }}">{{ stack.stack.title }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}