{% extends parent %}

{% block title %}{{ request.site.name }} - {{ request.site.properties_json.description }}{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col-sm-12">
            <h1>{{ request.site.name }}</h1>
            <p class="intro prose">{{ request.site.properties_json.description }}</p>
        </div>
    </div>
    {% for stack in stacks %}
        <div class="row stack-list-item">
            <div class="col-sm-12">
                <a href="{{ site_url('stack', request.site, kwargs={'slug': stack.slug}) }}">{{ stack.title }}</a></li>
            </div>
        </div>
    {% endfor %}
{% endblock %}