{% extends "www/base_standard.html" %}

{% from "www/macros.html" import follow_button, like_button %}

{% block title %}{{ stack.title }}{% endblock %}

{% block body_class %}stack content{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1 class="title">{{ stack.title}}</h1>
            {% if stack.subtitle %}
                <h2 class="subtitle">{{ stack.subtitle }}</h2>
            {% endif %}
        </div>
    </div>

    {% for rendered_block in rendered_blocks %}
        <!-- BLOCK: {{ rendered_block.block.name }} -->
        {{ rendered_block.content }}
    {% endfor %}

    {% if stack.tags.exists() %}
        <div class="row tags">
            <div class="span12">
                <p>
                    <i class="icon-tags"></i>
                    {% for tag in stack.tags.all() %}
                        <a href="#" class="tag">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row below-stack">
        <div class="span4">
            <div class="media">
                <img class="profile-image media-object pull-left" src="{{ stack.user.profile.profile_image_url_73px }}" />
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ url('user_home', kwargs={'username': stack.user.username}) }}">
                            {{ stack.user.profile.name }}
                        </a>
                    </h4>
                    <p class="description">{{ stack.user.profile.description }}</p>
                    <p style="margin-top:20px;">{{ follow_button(request, request.user, stack.user) }}</p>
                </div>
            </div>
        </div>

        <div class="span3 offset1">
            <h5 class="media-heading">Posted on</h5>
            <p><span class="post-date">{{ stack.added.strftime('%B %d, %Y') }}</span></p>
        </div>

        <div class="span3 offset1">
            <p>{{ like_button(request, request.user, stack) }}</p>
        </div>
    </div>
{% endblock %}