{% extends parent %}

{% block title %}{{ request.site.name }} - {{ request.site.properties_json.description }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>{{ request.site.name }}</h1>
            {% if latest_stacks %}
                <p>Latest stacks:</p>
                <ul>
                    {% for stack in latest_stacks %}
                        <li><a href="{{ site_url('stack', request.site, kwargs={'slug': stack.slug}) }}">{{ stack.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>


    <div class="clicky-box-container">
        <p class="intro prose">Welcome to {{ settings.APP_NAME }}, stranger.</p>
        <a data-pjax class="clicky-box left" href="{{ url('site_home', kwargs={'site': 'astro'}) }}">
            Astro
        </a>
        <div class="clicky-box-separator">or</div>
        <a data-pjax class="clicky-box right" href="{{ url('site_home', kwargs={'site': 'climbing'}) }}">
            Climbing
        </a>
    </div>
{% endblock %}