{% extends "www/base_with_navbar.html" %}

{% from "www/macros.html" import follow_button, like_button %}

{% block title %}{{ stack.title }}{% endblock %}

{% block body_class %}stack content{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="title">{{ stack.title}}</h1>
            {% if stack.subtitle %}
                <h2 class="subtitle">{{ stack.subtitle }}</h2>
            {% endif %}
        </div>
    </div>

    {% for rendered_block in rendered_blocks %}
        <!-- BLOCK: {{ rendered_block.block.name }} -->
        {{ rendered_block.content }}
    {% endfor %}


    <div class="row below-stack">
        <div class="col-sm-4">
            <div class="media">
                <img class="profile-image media-object pull-left" src="{{ stack.user.profile.profile_image_url_73px }}" />
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ url('user_home', kwargs={'username': stack.user.username}) }}">
                            {{ stack.user.profile.name }}
                        </a>
                    </h4>
                    <p class="description">{{ stack.user.profile.description }}</p>
                    <p style="margin-top:20px;">{{ follow_button(request, request.user, stack.user) }}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
            <h5 class="media-heading">Tagged in</h5>
            <ul class="list-unstyled">
                {% if stack.tags.exists() %}
                    {% for tag in stack.tags.all() %}
                        <li>#{{ tag }}</li>
                    {% endfor %}
                {% else %}
                    <li>No tags yet</li>
                {% endif %}
            </ul>
        </div>

        <div class="col-sm-3">
            <h5 class="media-heading">Posted on</h5>
            <p><span class="post-date">{{ stack.added.strftime('%B %d, %Y') }}</span></p>
        </div>

        <div class="col-sm-1 text-center">
            {{ like_button(request, request.user, stack) }}
        </div>
    </div>
{% endblock %}