{% extends "www/base.html" %}

{% block title %}Weekend at Red Rock{% endblock %}

{% block body_class %}page{% endblock %}

{% block content %}
    <h1 id="title" class="text-placeholder">Weekend at Red Rock</h1>
    <div class="row">
        <div class="span9">
            <p>Yeah, where is it. I was led to believe it was coming out in February '13. But so far no announcements about
                when, why or what is delaying said album is coming. But﻿ this is Laura's style. She is definitely NOT abou
                record sales or recognition chart-wise. It is one of her best qualities.</p>
            <p><a href="http://www.flickr.com/photos/johnmartin78/8787002065/" title="2013-04-27 10.05.07 by johnmartin78, on Flickr"><img src="http://farm8.staticflickr.com/7291/8787002065_0813f26e5f_c.jpg" width="800" height="600" alt="2013-04-27 10.05.07"></a></p>
            <p>It is part of Laura Marling's professional persona that she is marching to her own tempo. It sounded months
                ago that the album was finished and it would be out this month (Feb '13). But no show so far. LM has been
                working hard and﻿ doing many tours and even making them "working holidays." My sense is she flies under th
                radar and doesn't need to meet my expectations but I do love her music, past, present and future.</p>
        </div>
        <div class="span3"></div>
    </div>

{% endblock %}

