{% extends "www/base.html" %}

{% block title %}/{{ topic }} Stacks{% endblock %}

{% block content %}
    {% if topic == 'astro' %}
        <p>This is the home for <strong>{{ constants.TOPIC_LABELS[topic] }}</strong> stacks.</p>
        {% if latest_pages %}
            <ul>
                {% for page in latest_pages %}
                    <li><a href="{{ url_for('page', kwargs={'topic': page.topic, 'slug': page.slug}) }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No stacks.</p>
        {% endif %}
    {% else %}
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Coming soon!</h4>
            This topic area is not baked yet. But will be along soon enough.
        </div>
    {% endif %}
{% endblock %}