{% extends "www/base.html" %}

{% block title %}Upload images{% endblock %}

{% block content %}
    <p>Upload your images, damn.</p>
{% endblock %}

{% block extra_scripts_before_bootstrap %}
    <script src="/static/lib/jquery.fileupload/js/jquery.ui.widget.js"></script>
    <script src="/static/lib/jquery.fileupload/js/tmpl.min.js"></script>
    <script src="/static/lib/jquery.fileupload/js/load-image.min.js"></script>
    <script src="/static/lib/jquery.fileupload/js/canvas-to-blob.min.js"></script>
{% endblock %}

{% block extra_scripts_after_bootstrap %}
    <script src="/static/lib/jquery.fileupload/js/bootstrap-image-gallery.min.js"></script>
    <script src="/static/lib/jquery.fileupload/js/jquery.iframe-transport.js"></script>
    <script src="/static/lib/jquery.fileupload/js/jquery.fileupload.js"></script>
    <script src="/static/lib/jquery.fileupload/js/jquery.fileupload-fp.js"></script>
    <script src="/static/lib/jquery.fileupload/js/jquery.fileupload-ui.js"></script>
    <script src="/static/lib/jquery.fileupload/js/locale.js"></script>
    <script src="/static/lib/jquery.fileupload/js/main.js"></script>
    <script src="/static/lib/jquery.fileupload/js/csrf.js"></script>
{% endblock %}
