{% extends parent %}

{% block title %}{{ page_user.username }}'s Stacks{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">

            <img class="profile-image" src="{{ page_user.profile.profile_image_url_73px }}"/>
            <h1>{{ page_user.username }}</h1>

            {% if stacks %}
                <p>{% if is_you %}You have{% else %}{{ page_user.username }} has{% endif %}
                    created the following stack{{ stacks|pluralize }}:</p>
                <ul>
                    {% for stack in stacks %}
                        <li><a href="{{ site_url('stack', stack.site, kwargs={'slug': stack.slug}) }}">{{ stack.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You haven't created any stacks yet! <i class="icon-frown"></i></p>
            {% endif %}

            <p>{% if is_you %}You follow{% else %}{{ page_user.username }} follows{% endif %} these users:</p>
            <ul>
                {% for f in page_user.following.all() %}
                    <li><a href="{{ url('user_home', kwargs={'username': f.followed_user.username }) }}">{{ f.followed_user.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}